article.post {
    background: whitesmoke;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: 0 5% 2% 0;
}

div.post-top {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 96%;
}

div.post-top h2 {
    text-align: left;
    flex-basis: 75%;
    flex-grow: 0;
    flex-shrink: 0;
}

div.likes {
    flex-direction: column;
    margin: 20px;
    text-align: center;
}

div.post-middle {
    display: flex;
    justify-content: center;
    align-items: center;
}

div.post-middle p {
    padding: 30px;
}

div.post-middle img {
    width: 75%;
    height: auto;
    margin-bottom: 15px;
}

div.post-bottom {
    border-top: 1.5px solid black;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 75%;
}

div.comments {
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
}

@media only screen and (max-width: 1000px) {
    article.post {
        margin: 0 0 5% 0;
        width: 100%;
        padding: 0;
    }
    section.posts {
        padding: 0px;
        margin: 0 !important;
    }

    div.post-middle img {
        display: block;
        width: 85%;
        height: auto;
        margin-bottom: 15px;
        margin: 0 auto;
    }
}

@media only screen and (max-width: 767px) {
    div.post-bottom {
        flex-direction: column;
        align-items: flex-start;
    }

    div.post-bottom p {
        margin: 5px 0px;
    }

    div.post-top h2 {
        font-size: 1rem;
        flex-shrink: 1;
    }

    div.post-middle p {
        padding: 5px;
    }
}