div.searchBar {
    padding: 10px;
}

input {
    background: whitesmoke !important;
}

.MuiFilledInput-root::before {
    border-bottom: none !important;
    transition: none !important;
}

#outlined-basic {
    width: 300px;
}