section.posts {
    background: black;
    color: black;
    width: 45%;
    padding: 20px;
    margin: 20px;
}

img#loadingGif {
    display: block;
    margin: 50% auto;
}

@media only screen and (max-width: 1000px) {
    section.posts {
        width: 100%;
        padding: 0px;
    }
}